html {
    height: -webkit-fill-available;
}

body {
    margin: 0;
    min-height: 100vh;
    min-height: -webkit-fill-available;
    font-family: 'Inter Tight', sans-serif;
    background-color: $color--brand-blue-80;
}

// FONTS
@font-face {
  font-family: 'Monument Extended';
  font-style: normal;
  font-weight: 400;
  font-display: swap;
  src: url('~/assets/fonts/MonumentExtended-Regular.woff2') format('woff2');
  src: url('~/assets/fonts/MonumentExtended-Regular.otf') format('otf');
}
@font-face {
  font-family: 'Monument Extended';
  font-style: normal;
  font-weight: 100;
  font-display: swap;
  src: url('~/assets/fonts/MonumentExtended-Ultralight.woff2') format('woff2');
  src: url('~/assets/fonts/MonumentExtended-Ultralight.otf') format('otf');
}

@font-face {
  font-family: 'Inter Light';
  font-style: normal;
  font-display: swap;
  src: url('~/assets/fonts/Inter-Light.woff2') format('woff2');
  src: url('~/assets/fonts/Inter-Light.otf') format('otf');
}

@font-face {
  font-family: 'Space Grotesk Light';
  font-style: normal;
  font-display: swap;
  src: url('~/assets/fonts/SpaceGrotesk-Light.woff2') format('woff2');
  src: url('~/assets/fonts/SpaceGrotesk-Light.otf') format('otf');
}

h2, h3, h4 {
  font-family: 'Space Grotesk Light', sans-serif;
}
p {
  font-family: 'Inter Light', sans-serif;
}

// LAYOUT

.split-parent {
  overflow-y: hidden;
}
.split-child {
  display: inline-block;
}

//IMAGES
picture {
  width: 100%;
  height: 100%;
  display: flex;
  border: none;
}
picture img {
  object-fit: cover; 
    height: auto;
    width:100%;
}