html {
    height: -webkit-fill-available;
}

body {
    margin: 0;
    min-height: 100vh;
    min-height: -webkit-fill-available;
    font-family: 'Usual Light', 'Arial', sans-serif;
    background-color: #FFFFFF;
}

// FONTS
// @font-face {
//     font-family: 'Chalet-NewYorkNineteenEighty';
//     font-style: normal;
//     font-weight: 400;
//     font-display: swap;
//     src: url('~/assets/fonts/Chalet-NewYorkNineteenEighty.woff2') format('woff2');
//     src: url('~/assets/fonts/Chalet-NewYorkNineteenEighty.otf') format('otf');
//   }
// @font-face {
//     font-family: 'Chalet-Book';
//     font-style: normal;
//     font-weight: 400;
//     font-display: swap;
//     src: url('~/assets/fonts/ChaletBook-Regular.woff2') format('woff2');
//     src: url('~/assets/fonts/ChaletBook-Regular.otf') format('otf');
//   }

  //TYPOGRAPHY
  .global--heading-one {
    letter-spacing: -.03em;
    line-height: 0.9;
    margin: 0;
    font-family: 'Archivo Narrow', 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    font-weight: 700;
    font-size: fluid-calc(90px, 160px);
  }
  .global--subheading-one {
    letter-spacing: -.02em;
    line-height: 0.9;
    margin: 0;
    font-family: 'Archivo Narrow', 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    font-weight: 400;
    font-size: fluid-calc(36px, 56px);
  }
  
  .global--heading-two {
    font-size: 30px;
    letter-spacing: -.01em;
    line-height: 1.2;
    margin: 0;
    font-weight: 200;
    @media (min-width: $break-md) {
      font-size: 48px;
    }
    @media (min-width: $break-lg) {
      font-size: 58px;
    }
  }
  
  .global--heading-three {
    font-size: 21px;
    letter-spacing: -.01em;
    line-height: 1.2;
    margin: 0;
    font-weight: 200;
    @media (min-width: $break-md) {
      font-size: 36px;
    }
    @media (min-width: $break-lg) {
      font-size: 40px;
    }
  }
  
  .global--heading-four {
    font-size: 44px;
    letter-spacing: -.01em;
    line-height: 1.2;
    margin: 0;
    font-weight: 200;
    @media (min-width: $break-md) {
      font-size: 60px;
    }
    @media (min-width: $break-lg) {
      font-size: 70px;
    }
  }

  .split-parent {
    overflow: hidden;
  }
  .split-child {
    display: inline-block;
  }

  //IMAGES
  picture {
    width: 100%;
    height: 100%;
    display: flex;
    border: none;
  }
  picture img {
   object-fit: cover; 
      height: auto;
      width:100%;
  }